#head{
	width: 1000px;
	margin: 10px auto;
	overflow: hidden;
}
#logo{
	float: left;
}
ul,ol{
	overflow: hidden;
}
li{
	float: left;
}
#head ol li{
	padding-right: 15px;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	text-align: center;
}
#head ul li{
	font-size: 18px;
	margin: 43px 0 0 40px;
	text-align: center;
}
#right{
	float: left;
}
#r1{
	margin-left: 270px;
}
#select div{
	color: #ffa000;
}
#right input{
	width: 152px;
	height: 24px;
	float: left;
}
#right img{
	margin-right: 5px;
}
#head ol li div{
	float: right;
}
#head2{
	width: 100%;
	border-bottom: 4px solid #176fbb;
}
#bottom{
	width: 100%;
	background: #023c4d;
	height: 236px;
}
#bottom1{
	width: 863px;
	margin: 0 auto;
	padding-top: 22px;
}
#bottom2{
	margin-top: 7px;
	border-bottom: 1px solid #fff;
}
#bottom3{
	width: 560px;
	margin: 12px auto;
	color: #fff;
}
#bottom1 li p{
	color: #fff;
	padding-bottom: 13px;
	font-size: 14.53px;
}
#bottom1 li{
	margin-right: 76px;
}
#bottom1 .li4{
	margin-top: -5px;
}
#bottom1 .p1{
	font-size: 18px;
}
#bottom1 .li4 .p2{
	font-size: 28px;
	font-weight: bold;
}
#bottom1 .li4 p{
	font-size: 18px;
}
#bottom1 .li4 .p3{
	width: 109px;
	background: #fff;
	color: #29505e;
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 14px;
}
#bottom1 img{
	border-radius: 50%;	
}
#img1{
	margin-right: 3px;
}